<h1>{{ name }}'s journal</h1>

<app-reading-form (readingAdded)="onReadingAdded($event)"></app-reading-form>

<hr>

<ul class="list-group">
    <li *ngFor="let reading of readings" [ngClass]="getClassByBg(reading.bg)" class="list-group-item list-group-item-action row align-items-start reading-list-item">
        <div class="col-sm-2">          
          <h5>{{ reading.time }}</h5>
          <small class="text-muted">{{ reading.insulin }} units</small>
        </div>
        <div class="col-sm-8">
          <h5>Note:</h5>
          <p class="bg-note">{{ reading.note }}</p>
        </div>
        <div class="col-sm-2 bg-container">
          <span class="bg-reading text-center">{{ reading.bg }}</span><span class="bg-units"> mmol/L</span>
        </div>
      </li>
</ul>

<hr>

<app-readings-summary [readings]="readings"></app-readings-summary> <!-- property binding; binding the 'readings' array of Reading objects from parent component-->