<h1>{{ name }}'s journal</h1>

<app-reading-form></app-reading-form>

<hr>

<ul class="list-group">
    <li *ngFor="let reading of readings; let i = index" [ngClass]="getClassByBg(reading.bg)" class="list-group-item list-group-item-action row align-items-start reading-list-item">
        <div class="col-sm-2">          
          <h5>{{ reading.time }}</h5>
          <small class="text-muted">{{ reading.insulin }} units</small>
        </div>
        <div class="col-sm-8">
          <h5>Note:</h5>
          <div class="bg-note">
            <p>{{ reading.note }}</p>
          </div>
        </div>
        <div class="col-sm-2 bg-container">
          <a routerLink="{{ i }}"><span class="bg-reading text-center">{{ reading.bg }}</span><span class="bg-units"> mmol/L</span></a>
        </div>
      </li>
</ul>

<hr>

<app-readings-summary></app-readings-summary> <!-- prev: property binding; binding the 'readings' array of Reading objects from parent component-->