<div id="accordion">
    <div class="card-header" id="headingOne">
      <h3 class="mb-0">
        Show Summary <span class="caret caret-up"></span> <!-- span.drop-up needs to wrap & toggle on / off onClick -->
      </h3>
    </div>

    <div id="collapseOne" class="collapse show"> <!-- .show needs to toggle on / off onClick -->
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Average bg: x mmol / L</li>
          <li class="list-group-item">x low, y highs</li>
          <li class="list-group-item">Tend to drop low || high</li>
        </ul>
      </div>
    </div>
</div>