<div id="accordion">
  <div class="card-header" id="headingOne">
    <h3 class="show-pointer" (click)="isOpen = !isOpen"> <!-- event listener for 'click' which flips isOpen -->
      {{ !isOpen ? 'Show' : 'Hide'}} Summary
      <span class="caret"></span>
    </h3>
  </div>

  <div id="collapseOne" [ngClass]="isOpen ? 'collapse show' : 'collapse'"> <!-- .show needs to toggle on / off onClick -->
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Average bg: {{ getAverage() }} mmol / L</li>
        <li class="list-group-item">{{ getLows() }} low reading(s); {{ getHighs() }} highs</li>
        <li class="list-group-item">Tend to drop low || high</li>
      </ul>
    </div>
  </div>
</div>