<h3>New entry</h3>
<form (ngSubmit)="onReadingAdded(readingForm); readingForm.reset()" #readingForm="ngForm">
  <!-- Creating a template reference variable, readingForm -->
  <div class="row">
    <div class="col-sm-4">
      <label for="bg">Bg, mmol / L</label>
      <input type="text" name="bg" class="form-control" ngModel>
    </div>
    <div class="col-sm-4">
      <label for="time">Time</label>
      <div class="input-group bootstrap-timepicker timepicker">
        <input type="text" name="time" class="form-control" placeholder="7:30AM, 5:00PM, etc." ngModel>
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
      </div>
    </div>
    <div class="col-sm-4">
      <label for="insulin">Insulin (units)</label>
      <input type="text" name="insulin" class="form-control" ngModel>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label for="note">Notes (optional)</label>
      <input type="text" name="note" class="form-control" ngModel>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-danger" type="submit">Submit</button>
    </div>
  </div>
</form>