<div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close"></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>Modal body here</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default">Close</button>
          <button class="btn btn-default">Save</button>
        </div>
      </div>
    </div>
  </div>