/* You can add global styles to this file, and also import other style files */

/* Header */
.navbar {
    border-radius: 0;
}

/* Home */
.left {
    border-right: 1px solid rgba(210, 210, 210, 0.5);
    min-height: 97vh;
}

.right {
    border-left: 1px solid rgba(210, 210, 210, 0.5);
    min-height: 97vh;
}

/* Footer */
.page-footer {
    background-color: rgba(220, 220, 220, .8);
    border-top: 1px solid rgba(210, 210, 210, 0.5);
    height: 150px;
    position: relative;
}

.page-footer-text {
    color: rgba(100, 100, 100, 1);
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}